[submodule "scaffold/packages/foundry/lib/openzeppelin-contracts-upgradeable"]
	path = scaffold/packages/foundry/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
